# PCA测试2

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from sklearn.decomposition import PCA

In [2]:
X = np.array([[-1, -1], [-2, -1], [-3, -2], [1, 1], [2, 1], [3, 2]])

In [3]:
pca = PCA(n_components=2)

In [4]:
newX = pca.fit_transform(X)

In [8]:
pd.DataFrame(X)

   0  1
0 -1 -1
1 -2 -1
2 -3 -2
3  1  1
4  2  1
5  3  2

In [7]:
pd.DataFrame( newX)

          0         1
0  1.383406  0.293579
1  2.221898 -0.251335
2  3.605304  0.042244
3 -1.383406 -0.293579
4 -2.221898  0.251335
5 -3.605304 -0.042244

In [9]:
print(pca.explained_variance_ratio_)

[0.99244289 0.00755711]