# 各种API测试

In [1]:
import pandas as pd
from sklearn.cross_validation import KFold,cross_val_score

/Users/zhangdi/anaconda3/lib/python3.6/site-packages/sklearn/cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [2]:
c_param_range = [0.01,0.1,1,10,100]

In [3]:
results_table = pd.DataFrame(columns=['C_parameter','Mean recall score'])
results_table['C_parameter'] = c_param_range

In [4]:
results_table

   C_parameter Mean recall score
0         0.01               NaN
1         0.10               NaN
2         1.00               NaN
3        10.00               NaN
4       100.00               NaN

In [5]:
data = pd.read_csv('../dataSet/creditcard.csv')
data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [11]:
y_train = data.loc[:,'Amount'].head()
pd.DataFrame(y_train)

   Amount
0  149.62
1    2.69
2  378.66
3  123.50
4   69.99

In [10]:
fold = KFold(len(y_train),5,shuffle=False)

In [15]:
for iteration,indices in enumerate(fold,start=1):
    print(iteration,'-------',indices)

1 ------- (array([1, 2, 3, 4]), array([0]))
2 ------- (array([0, 2, 3, 4]), array([1]))
3 ------- (array([0, 1, 3, 4]), array([2]))
4 ------- (array([0, 1, 2, 4]), array([3]))
5 ------- (array([0, 1, 2, 3]), array([4]))